@CHARSET "ISO-8859-1";

#loginFormContainer {
	align:center;
	margin:auto;
	border:1px solid #62A5B2;
	width:325px;
	border-radius:5px;
	background:white;
}

#loginFormContainer span#loginMsg {
	font-size:0.9em;
}

form#login {	
	font-size:0.9em;
	margin:auto;	
}

#newTweetForm table {
	border-radius:5px;
	margin:auto;
}