
html {
	background:#62A5B2;
}

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width:900px;
	align:center;
	margin:auto;
	padding-left:20px;
	padding-right:20px;
	background:#BFF4FF;
	min-height:700px;
}


.errorField  {
	border:1px solid red;
}

.errorLabel {
	font-weight:bold;
	font-style:italic;
	color:red;
}

.errorMessage {
	font-size:x-small;
	font-style:italic;
	color:red;
}